@import './design.styl'
body
  margin 0px
	padding 0px
	font-family Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif
	font-size 12px
	-webkit-font-smoothing antialiased

a:focus,
a:active 
  outline none
a,
a:focus,
a:hover
  cursor pointer
  color inherit
  text-decoration none

/*文字标题*/
.g_main_title
  font-size: main-size
  font-weight 600
  padding 5rem 0 1rem 0

.g_middle_title
  font-size: middle-size
  padding 1rem 0

.g_normal_article
  font-size normal-size

/**/
.g_center
  text-align center
  
/**/
.g-page
  margin: normal-margin